body {
    background-color: rgba(221, 232, 238, 0.482);
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form-heading {
    font-size: 24px;
    text-align: center;
}

.form-group {
    justify-content: center;
}

.input-group-append {
    display: flex;
    flex-direction: column;
}

.city-button {
    border-radius: 5px;
}

.city-name {
    font-size: 30px;
}

.today, .forecast{
    border: 2px solid black;
    background-color: rgba(49, 137, 152, 0.087);
    border-radius: 15px;
    padding: 20px;
}

h3, p, img {
    display: inline;
}

.weather-cards-container {
    display: flex;
    gap: 5px;
    flex-direction: row;
}

.card-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(49, 137, 152, 0.087);
    padding: 20px 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
}

.iconAndTemps {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin: 20px 0px;
}



.temps {
    display: flex;
    flex-direction: column;
}

.cardbody {
    display: flex;
    align-items: center;
    justify-content: center;
}

.city-button {
    background-color: #50adcae5 !important;
}

.city-button:hover {
    box-shadow: 10px 10px 12px 0 rgba(0,0,0,0.24);
}

#search-input {
    border-radius: 5px;
}