body {
    background-color: rgba(221, 232, 238, 0.482);
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form-heading {
    font-size: 24px;
}

.input-group-append {
    display: flex;
    flex-direction: column;
}

.city-button {
    border-radius: 5px;
}

.city-name {
    font-size: 30px;
}

.today, .forecast{
    border: 2px solid black;
    background-color: rgba(222, 226, 229, 0.237);
    border-radius: 15px;
    padding: 20px;
}

h3, p, img {
    display: inline;
}

.weather-cards-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.card-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(49, 137, 152, 0.221);
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}