body {
    /* background-color: rgba(221, 232, 238, 0.482); */
    background-image: url(../../weather.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.weather-header {
    margin-top: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form-heading {
    font-size: 24px;
    text-align: center;
}

.form-group {
    justify-content: center;
}

.input-group-append {
    display: flex;
    flex-direction: column;
}

.city-button {
    border-radius: 5px;
}

.city-name {
    font-size: 30px;
}

.today, .forecast{
    border: 2px solid black;
    background-color: rgba(236, 242, 243, 0.761);
    border-radius: 15px;
    padding: 20px;
}

h3, p, img {
    display: inline;
}

#forecast {
    width: 100%;
}

.weather-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    gap: 10px;
}

.card-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(236, 242, 243, 0.761);
    padding: 20px 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.iconAndTemps {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin: 20px 0px;
}

.temps {
    display: flex;
    flex-direction: column;
}

.cardbody {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
}

.city-button {
    background-color: rgba(28,15,69,255) !important;
}

.city-button:hover {
    box-shadow: 10px 10px 12px 0 rgba(0,0,0,0.24);
}

#search-input {
    border-radius: 5px;
}